@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-brand-base: var(--brand-base);
  --color-brand-light: var(--brand-light);
  --color-brand-dark: var(--brand-dark);

  --color-warning-base: var(--warning-base);
  --color-warning-light: var(--warning-light);
  --color-warning-dark: var(--warning-dark);

  --color-success-base: var(--success-base);
  --color-success-light: var(--success-light);
  --color-success-dark: var(--success-dark);

  --color-error-base: var(--error-base);
  --color-error-light: var(--error-light);
  --color-error-dark: var(--error-dark);

  --color-info-base: var(--info-base);
  --color-info-light: var(--info-light);
  --color-info-dark: var(--info-dark);

  --color-neutral-base: var(--neutral-base);
  --color-neutral-light: var(--neutral-light);
  --color-neutral-dark: var(--neutral-dark);

  --color-background: var(--background);
  --color-muted-background: var(--muted-background);

  --color-foreground: var(--foreground);
  --color-muted-foreground: var(--muted-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

:root {
  --brand-base: #e9d5ff;
  --brand-light: #f3e8ff;
  --brand-dark: #c084fc;

  --warning-base: #f59e0b;
  --warning-light: #fcd34d;
  --warning-dark: #d97706;

  --success-base: #16a34a;
  --success-light: #4ade80;
  --success-dark: #15803d;

  --error-base: #ef4444;
  --error-light: #f87171;
  --error-dark: #dc2626;

  --info-base: #3b82f6;
  --info-light: #bedbff;
  --info-dark: #2563eb;

  --neutral-base: #e5e5e5;
  --neutral-light: #f5f5f5;
  --neutral-lighter: #fafafa;
  --neutral-lightest: #fcfcfc;
  --neutral-dark: #d4d4d4;
  --neutral-darker: #a3a3a3;
  --neutral-darkest: #737373;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --brand-base: #7c3aed;
  --brand-light: #431292;
  --brand-dark: #a78bfa;

  --warning-base: #b45309;
  --warning-light: #78350f;
  --warning-dark: #fbbf24;

  --success-base: #15803d;
  --success-light: #166534;
  --success-dark: #4ade80;

  --error-base: #b91c1c;
  --error-light: #7f1d1d;
  --error-dark: #f87171;

  --info-base: #2563eb;
  --info-light: #1e40af;
  --info-dark: #93c5fd;

  --neutral-base: #3f3f46;
  --neutral-light: #27272a;
  --neutral-lighter: #18181b;
  --neutral-lightest: #121214;
  --neutral-dark: #52525b;
  --neutral-darker: #71717a;
  --neutral-darkest: #a1a1aa;

  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  /* .scrollbar::-webkit-scrollbar {
    @apply h-1.5 w-1.5;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-neutral-base rounded-full;
  } */
}
